/* General */
html,body{
    margin: 0;
}
body{
    margin: 0 12% 0 12%;
}

/* Header-Nav */
header{
    display: grid;
    grid-template-columns:  minmax(auto,40%) minmax(60%, auto);
}
header p{
    margin-top: 1.4rem;
}

nav li{
    display: inline-block; 
    margin: 0 12px 0 12px;
}

nav li a{
    text-decoration: none;
    color: black;
}

.posiNavMoonSun{
    position: relative;
    top: .25rem;

    cursor: pointer;
}

.liBurger{
    display: none;
}

/* Section en General */
.sectDim{
    padding: 7rem 0 0 0;
    margin: 0 12% 0 12%;
}

/* Presentación Txt-Img */
.containerPresentacion{
    display: grid;
    grid-template-columns: 50% 50%;
}

.flexPresentacionTxt{
    display: flex;
    flex-direction: column;
}

.flexPresentacionTxt h1{
    font-size: 45px;
}

.flexPresentacionTxt p{
    margin-right: 4rem;
}

.marginAjus{
    margin-bottom: 0;
}

.flexPresentacionImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPresentacionConct{
    width: 100px;
    padding: 12px 0 12px 0;
    margin: 2rem 0 0 0; 
    background-color: #5e8ed5; 
    color: white;
    border: 0;
    border-radius: 5px; 
    cursor: pointer;
}

.btnPresentacionConct:hover{ 
    background-color: #406193; 
}

.btnPresentacionConct img{
    position: relative;
    top: .13rem;
}

.oval{
    width: 350px;
    height: 250px;
    -moz-border-radius: 0% 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 80% 70% ;
    background: #5e8ed5;
    border: 1px solid #555;
}
















/* Responsive */
@media screen and (max-width: 1200px) {
    .sectDim{
        margin: 0 5% 0 5%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav li {display: none;}
    .topnav .liBtnAux{
      float: right;
      display: block;
    }

    .topnav.responsive li:not(.liBtnAux) {
        display: block;     
        position: absolute;
        top: 3.5rem;
        left: 0;
        margin: 0;
        text-align: center;
        min-width: 100%;
        padding: .5rem 0 .5rem 0;
        cursor: pointer;
        background-color: whitesmoke;
    } 

    .topnav.responsive li:not(.liBtnAux):hover { 
        background-color: rgb(231, 231, 231);
    }  

    .sectDim{
        margin: 0;
    }  
}

@media screen and (max-width: 900px) {
    .containerPresentacion{
        display: grid;
        grid-template-columns: 100%;
    }
    .sectDim{
        padding: 3rem 0 0 0;
    }
    
    .itemPresentacionResponsive{
        margin: 3rem auto;
    }
    
}

@media screen and (max-width: 460px) {
    body{
        margin: 0 8% 0 8%;
    }
}

