/* General */
html,body{
    margin: 0;
}
body{
    margin: 0 12% 0 12%;
}

/* Header-Nav */
header{
    display: grid;
    grid-template-columns:  minmax(auto,40%) minmax(60%, auto);
}
header p{
    margin-top: 1.4rem;
}

nav li{
    display: inline-block; 
    margin: 0 12px 0 12px;
}

nav li a{
    text-decoration: none;
    color: black;
}

.posiNavMoonSun{
    position: relative;
    top: .25rem;

    cursor: pointer;
}

.liBurger{
    display: none;
}


















/* Responsive */
@media screen and (max-width: 1010px) {
    .topnav li {display: none;}
    .topnav .liBtnAux{
      float: right;
      display: block;
    }

    .topnav.responsive li:not(.liBtnAux) {
        display: block;     
        position: absolute;
        top: 3.5rem;
        left: 0;
        margin: 0;
        text-align: center;
        min-width: 100%;
        padding: .5rem 0 .5rem 0;
        cursor: pointer;
        background-color: whitesmoke;
    } 

    .topnav.responsive li:not(.liBtnAux):hover { 
        background-color: rgb(231, 231, 231);
    }  

    
  }

