/* General */
html,body{
    margin: 0;
}
body{
    margin: 0 12% 0 12%;
}



/* Clases comunes */
.containerDescripcion h1,
.containerHabilidades h1,
.containerExperiencia h1{
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 30px;
}














/* Header-Nav */
header{
    display: grid;
    grid-template-columns:  minmax(auto,40%) minmax(60%, auto);
}
header p{
    margin-top: 1.4rem;
}

nav li{
    display: inline-block; 
    margin: 0 12px 0 12px;
}

nav li a{
    text-decoration: none;
    color: black;
}

.posiNavMoonSun{
    position: relative;
    top: .25rem;

    cursor: pointer;
}

.liBurger{
    display: none;
}

/* Section en General */
.sectDim{
    padding: 7rem 0 0 0;
    margin: 0 12% 0 12%;
}

/* Presentación Txt-Img */
.containerPresentacion{
    display: grid;
    grid-template-columns: 50% 50%;
}

.flexPresentacionTxt{
    display: flex;
    flex-direction: column;
}

.flexPresentacionTxt h1{
    font-size: 45px;
    margin-top: 0;
}

.flexPresentacionTxt p{
    margin-right: 4rem;
}

.marginAjus{
    margin-bottom: 0;
}

.flexPresentacionImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPresentacionConct{
    width: 100px;
    padding: 12px 0 12px 0;
    margin: 2rem 0 0 0; 
    background-color: #5e8ed5; 
    color: white;
    border: 0;
    border-radius: 5px; 
    cursor: pointer;
}

.btnPresentacionConct:hover{ 
    background-color: #406193; 
}

.btnPresentacionConct img{
    position: relative;
    top: .13rem;
}

.oval{
    width: 350px;
    height: 250px;
    -moz-border-radius: 0% 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 80% 70% ;
    background: #5e8ed5;
    border: 1px solid #555;
}

.iconosLinkGit{
    text-align: center;
    margin-top: 1.5rem;
}

.iconosLinkGit a{
    margin: 0 1rem 0 1rem;
    cursor: pointer;
}







/* Descripción */
.gridDescripcion{
    display: grid;
    grid-template-columns: 50% 50%;
}

.containerDescripcion h1{
    text-align: center;
    margin: 0 0 3rem 0;
}

.flexDescripcionImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDescripcionImg img{
    border-radius: 5px;
    padding: 2rem 0 2rem 0;
}

.gridTimeDescrip{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 2rem 0 2rem 0;
    font-size: 25px;
}

.flexTimeDescrip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexTimeDescrip span{
    font-size: 25px;
    font-weight: bold;
}

.flexTimeDescrip p{
    font-size: 13px;
    margin: 0 1.2rem 0 1.2rem;
    text-align: center;
}

.gridBtnDescrip{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.btnDescripcionCVCP{
    width: 110px;
    padding: 12px 0 12px 0;
    background-color: #5e8ed5; 
    color: white;
    border: 0;
    border-radius: 5px; 
    cursor: pointer;
}

.btnDescripcionCVCP:hover{
    background-color: #406193; 
}

.itemPresentacionResponsive{
    display: flex;
    justify-content: center;
}







/* Habilidades */
.gridHabilidades{
    min-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1.5rem;
}

.gridItemDesplegableHabi{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    cursor: pointer;
}

.flexHabilidadesSelect ul{
    list-style: none;
    padding: 0;
	margin: 0;
}


.principalUlHabi{
    display: flex;
    flex-direction: column;
}

.flexHabilidadesSelect ul li{
    width: 100%;
}



.gridItemDesplegableHabi div h3{
    margin: 0;
}

.gridItemDesplegableHabi div p{
    margin-top: .3rem;
}

.icoHab{
    padding: .5rem 0 0 0;
}

.gridHabiBarra{
    display: grid;
    grid-template-columns: 50% 50%;

    margin: 1rem 3.5rem 0 2.5rem;
}

.flexHabiBarraSpan{
    display: flex;
    justify-content: right;
}

.barraHa{
    margin: .5rem 3.5rem 0 2.5rem;
    height: 7px;
    border-radius: 5px;
}


.infoHabi{
    display: none;
}





/* Experiencia */
.gridExpeEduWork{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;  
}

.gridExpeEduWork a{
     cursor: pointer;
     color: #5e8ed5;
     font-weight: bold;
     font-size: 25px;
}

.flexExpeEduca{
    display: flex;
    justify-content: right;
}

.ajusteIcoEx{
    padding: 0 .2rem 0 0;
}

.linea-tiempo {
    position: relative;
    height: 100%;
    margin: 3rem 0 0 0;
  }

  .momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
  }

  .momento:nth-child(even) {
    left: 55%;
  }

  .momento:nth-child(odd) {
    text-align: right;
  }

  .linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #5e8ed5;
    left: 50%;
    height: 100%;
    border-radius: 10px;
  }
  .momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #5e8ed5;
    border-radius: 50%;
  }
  .momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
  }

.momento h3{
    margin: 0;
    font-size: 20px;
}

.momento p{
    margin: .3rem 0 0 0;
}

.momento span{
    font-size: 15px;
}

.momento span img{
    margin: 0 .3rem 0 0;
}

.expWork{
    display: none;
}




/* Proyectos */
.containerProyectos h1{
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 30px;
}

.gridProyectos{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.sectDim2{
    padding: 7rem 0 0 0;
    margin: 0 5% 0 5%;
}

.flexArrowProyec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexArrowProyec img{
    cursor: pointer;
}

.gridProyectos2{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 50px;
}

.gridProyectos2 img{
    border-radius: 10px;
}

.gridProyectos2 p{
    line-height: 22px;
}

.flexImgProye{
    display: flex;
    justify-content: center;
}


.btnProyectos{
    width: 100px;
    padding: 12px 0 12px 0;
    background-color: #5e8ed5; 
    color: white;
    border: 0;
    border-radius: 5px; 
    cursor: pointer;
}

.btnProyectos:hover{ 
    background-color: #406193; 
}

.flexCirculosProy{
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.flexCirculosProy span{
    width: 12px;
    height: 12px;
    border: 2px solid #5e8ed5;
    border-radius: 50%;
    margin: 0 .2rem 0 .2rem;
    cursor: pointer;
}



























/* Responsive */
@media screen and (max-width: 1200px) {
    .sectDim{
        margin: 0 5% 0 5%;
    }
}

@media screen and (max-width: 1150px){
    .gridProyectos2{
        grid-template-columns: 100%;   
    }
}

@media screen and (max-width: 1010px) {
    .topnav li {display: none;}
    .topnav .liBtnAux{
      float: right;
      display: block;
    }

    .topnav.responsive li:not(.liBtnAux) {
        display: block;     
        position: absolute;
        top: 3.5rem;
        left: 0;
        margin: 0;
        text-align: center;
        min-width: 100%;
        padding: .5rem 0 .5rem 0;
        cursor: pointer;
        background-color: whitesmoke;
    } 

    .topnav.responsive li:not(.liBtnAux):hover { 
        background-color: rgb(231, 231, 231);
    }  

    .sectDim{
        margin: 0;
    } 
    
}

@media screen and (max-width: 900px) {
    .containerPresentacion{
        display: grid;
        grid-template-columns: 100%;
    }
    .sectDim{
        padding: 3rem 0 0 0;
    }
    
    .itemPresentacionResponsive{
        margin: 3rem auto;
        grid-row-start: 1;
    }

    .fapL img {
        position: relative;
        right: 2.5rem;
    }

    .fapR img {
        position: relative;
        left: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    .gridDescripcion{
        grid-template-columns: 100%;
    }

    .gridProyectos2 img{
        max-width: 300px;
        max-height: 100%;
    }
}

@media screen and (max-width: 750px) {
    .gridHabilidades{
        grid-template-columns: 100%;
    }
}


@media screen and (max-width: 460px) {
    body{
        margin: 0 8% 0 8%;
    }
}

